/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
    font-family: "Lexend Deca", Arial, sans-serif;
    color: rgba(35, 38, 47, 1);
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    letter-spacing: -2px;
    margin: 4px;
    font-size: 4rem;
    color: rgb(75, 81, 93);

}

p {
    color: rgb(119, 126, 144);
    /* font-family: "Archivo Narrow", sans-serif; */
    font-size: 1.6rem;
    font-weight: light;
    margin: 4px;
}

/* Button */

button {
    color: rgb(119, 126, 144);
    /* text-transform: uppercase; */
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(119, 126, 144);
    background: white;
    box-shadow: 3px 3px rgb(119, 126, 144);
    cursor: pointer;
    margin: 20px 0;
}

button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(240, 248, 255); */
}

.logo {
    height: 2rem;
}

.logo-text {
    color: rgba(0, 0, 0, 0.85);
    font-size: 1rem !important;
}

/* Dashboard */
.dashboard {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard .dashboard-info-container {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    padding: 5rem 0 3rem 0;
    font-size: 1.4rem;
}

.dashboard .dashboard-button-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */

header {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: rgb(151, 151, 151) 2px solid;
}

header .header-container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-container .header-item-container {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

header .header-container .header-item-container p {
    margin: 0 1rem;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

header .avatar {
    height: 3rem;
    border-radius: 50%;
    margin-left: 1rem;
}

/* Card */
.card-container {
    width: 300px;
    height: 550px;
    border-radius: 16px;
    margin-bottom: 35px;
    box-shadow: 0 10px 24px 10px rgba(0, 0, 0, 0.08);
    background-color: rgb(247, 247, 247);
}

.card-container .image-container {
    width: 18rem;
    height: 26rem;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.card-container .image-container img {
    width: 200%;
}

.card-container .info-container {
    padding: 0.8rem 1.2rem;
}

/* Foooter */

footer {
    width: 100%;
    /* background-color: rgb(20,20,20); */
    /* background-color: skyblue; */
    background-color: lightgreen;
    display: flex;
    justify-content: center;
}

footer .footer-container {
    width: 74%;
    padding: 2.5rem;
}