@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Merriweather Sans", sans-serif;
    color: rgba(35, 38, 47, 1);
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    font-weight: lighter;
    margin: 4px;
}

p {
    color: rgb(119, 126, 144);
    font-size: 1em;
}

button {
    /* background-color: rgb(68, 65, 248); */
    background-color: rgb(150, 255, 47);
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 22px;
    border-radius: 90px;
    font-size: 0.7em;
    font-weight: bolder;
    letter-spacing: 1px;
}
